/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease-in-out;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 60%;
    max-width: 800px;
    position: relative;
    animation: fadeIn 0.5s ease;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.close {
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.modal-input {
    width: 95%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s ease;
}

.modal-input:focus {
    border-color: #0056b3;
    outline: none;
}

.modal-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.modal-button:hover {
    background-color: #00448d;
}

.modal-content h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Container centralizado */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo da primeira barra superior */
.header {
    background-color: #0056b3;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

/* Estilo do botão "Sair" */
.logout-button {
    display: inline-block;
    padding: 8px 16px;
    color: #fff;
    background-color: #f44336;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

.logout-button:hover {
    background-color: #e53935;
}

/* Estilo da segunda barra superior */
.secondary-header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.secondary-header h2 {
    margin: 0;
    font-size: 18px;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0056b3;
    color: white;
}

td {
    background-color: #f9f9f9;
}

.button {
    background-color: #4caf50;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.status-checkbox {
    font-weight: bold;
}
