/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Container centralizado */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo da primeira barra superior */
.header {
    background-color: #0056b3;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

/* Estilo do botão "Sair" */
.logout-button {
    display: inline-block;
    padding: 8px 16px;
    color: #fff;
    background-color: #f44336;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

.logout-button:hover {
    background-color: #e53935;
}

/* Estilo da segunda barra superior */
.secondary-header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.secondary-header h2 {
    margin: 0;
    font-size: 18px;
}

/* Estilo do botão "+ Novo Produto" */
.new-product-button {
    display: inline-block;
    padding: 8px 16px;
    color: #fff;
    background-color: #0056b3;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

.new-product-button:hover {
    background-color: #003772;
}

/* Estilo do contêiner de pesquisa */
.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: #e9ecef;
}

.search-button {
    padding: 8px 12px;
    font-size: 16px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #003772;
}

/* Estilo do conteúdo principal */
main {
    padding: 20px;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #003772;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    text-decoration: none;
    color: #fff;
    background-color: #0056b3;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.button:hover {
    background-color: #003772;
}

/* Estilo da caixa de seleção */
.status-checkbox {
    transform: scale(1.2);
}
