<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras do Cliente</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/detalhesCliente.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <style>
        .item-image {
            width: 100px;
            height: auto;
            max-width: 100%;
            margin-right: 10px;
        }
    </style>
    <header class="header">
        <a th:href="@{/produtos/listarProd}" class="back-button">← Voltar para o Início</a>
        <h1>Histórico de Compras</h1>
        <a th:href="@{/produtos/detalhesUser}" class="btn btn-primary">Minha Conta</a>
    </header>

    <div class="container">
        <section class="compras-section">
            <h2>Compras</h2>
            <div id="compras-list" class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Número do Pedido</th>
                            <th>Data</th>
                            <th>Valor Total</th>
                            <th>Status</th>
                            <th>Detalhes</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <div class="modal fade" id="detalhesModal" tabindex="-1" role="dialog" aria-labelledby="detalhesModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detalhesModalLabel">Detalhes da Compra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Número do Pedido:</strong> <span id="modalNumeroPedido"></span></p>
                    <p><strong>Data do Pedido:</strong> <span id="modalDataPedido"></span></p>
                    <p><strong>Valor Total:</strong> <span id="modalValorTotal"></span></p>
                    <p><strong>Status:</strong> <span id="modalStatus"></span></p>
                    <p><strong>Forma de Pagamento:</strong> <span id="modalFormaPagamento"></span></p>
                    <p><strong>Tipo de Frete:</strong> <span id="modalTipoFrete"></span></p>
                    <p><strong>Parcelas:</strong> <span id="modalParcelas"></span></p>
                    <p><strong>Valor das Parcelas:</strong> <span id="modalValorParcelas"></span></p>

                    <h5>Itens da Compra</h5>
                    <ul id="modalItens"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if (!sessionStorage.getItem('usuarioLogado')) {
                window.location.href = '/user/loginUser';
            } else {
                const userId = sessionStorage.getItem('userId');
                loadClientPurchases(userId);
            }
        });

        function loadClientPurchases(userId) {
            fetch(`/compra/buscarCompras/${userId}`)
                .then(response => response.json())
                .then(compras => {
                    console.log('Resposta da API de compras:', compras);
                    const comprasTableBody = document.querySelector('#compras-list tbody');
                    comprasTableBody.innerHTML = '';

                    const comprasPromises = compras.map(compra => {
                        const dataPedido = formatDate(compra.dataPedido);

                        // Armazenar as compras no sessionStorage
                        sessionStorage.setItem(`compra_${compra.numeroPedido}`, JSON.stringify(compra));

                        return `
                    <tr>
                        <td>${compra.numeroPedido}</td>
                        <td>${dataPedido}</td>
                        <td>R$ ${compra.valorTotal.toFixed(2)}</td>
                        <td>${compra.status}</td>
                        <td><button class="btn btn-info" data-toggle="modal" data-target="#detalhesModal" onclick="loadPurchaseDetails(${compra.numeroPedido})">Detalhes</button></td>
                    </tr>
                `;
                    });

                    comprasTableBody.innerHTML = comprasPromises.join('');
                })
                .catch(error => {
                    console.error('Erro ao carregar as compras:', error);
                });
        }



        function loadPurchaseDetails(numeroPedido) {
            // Recuperar os dados da compra do sessionStorage
            const compra = JSON.parse(sessionStorage.getItem(`compra_${numeroPedido}`));

            if (!compra) {
                console.error('Compra não encontrada para o número do pedido:', numeroPedido);
                return;
            }

            // Preencher os campos do modal com os dados da compra
            document.getElementById('modalNumeroPedido').textContent = compra.numeroPedido;

            // Tratar a data com hora no formato correto
            const dataPedido = formatDate(compra.dataPedido);
            document.getElementById('modalDataPedido').textContent = dataPedido;

            document.getElementById('modalValorTotal').textContent = `R$ ${compra.valorTotal.toFixed(2)}`;
            document.getElementById('modalStatus').textContent = compra.status;
            document.getElementById('modalFormaPagamento').textContent = compra.formaPagamento;
            document.getElementById('modalTipoFrete').textContent = `R$ ${compra.tipoFrete}`;
            document.getElementById('modalParcelas').textContent = compra.parcelas;
            document.getElementById('modalValorParcelas').textContent = `R$ ${compra.valorParcelas.toFixed(2)}`;

            // Carregar os itens da compra
            const itensHtml = compra.itens.map(item => {
                if (item.idProduto) {
                    return fetch(`/produtos/${item.idProduto}`)
                        .then(response => response.json())
                        .then(produtoDetalhes => {
                            console.log('Resposta da API de produto:', produtoDetalhes);

                            if (!produtoDetalhes || !produtoDetalhes.imagens || produtoDetalhes.imagens.length === 0) {
                                console.warn(`Produto com ID ${item.idProduto} sem imagens ou dados incompletos`);
                                return ''; // Caso não tenha imagem, retorna vazio
                            }

                            const imagemPrincipal = produtoDetalhes.imagens.find(img => img.principal);
                            const imageSrc = imagemPrincipal ? `../img/${imagemPrincipal.link}` : '../img/default-image.png';

                            // Corrigido para acessar nomeProduto
                            const nomeProduto = produtoDetalhes.nomeProduto || "Produto não encontrado";

                            return `
                        <li>
                            <img src="${imageSrc}" alt="Imagem do produto" class="item-image" />
                            <p>Produto: ${nomeProduto}</p>
                            <p>Quantidade: ${item.quantidade}</p>
                        </li>
                    `;
                        })
                        .catch(error => {
                            console.error('Erro ao buscar produto:', error);
                            return ''; // Caso ocorra erro, retorna vazio
                        });
                } else {
                    console.warn("Produto não encontrado ou dados incompletos para o item", item);
                    return ''; // Caso não tenha idProduto, retorna vazio
                }
            });

            // Aguardar todos os itens serem carregados e preencher o modal
            Promise.all(itensHtml)
                .then(itens => {
                    document.getElementById('modalItens').innerHTML = itens.join('');
                })
                .catch(error => {
                    console.error('Erro ao processar os itens da compra:', error);
                });
        }


        // Aguardar todos os itens serem carregados e preencher o modal
        Promise.all(itensHtml)
            .then(itens => {
                document.getElementById('modalItens').innerHTML = itens.join('');
            })
            .catch(error => {
                console.error('Erro ao processar os itens da compra:', error);
            });

        function formatDate(dateString) {
            // Dividir a data e a hora
            const [datePart, timePart] = dateString.split(' ');

            // Dividir a data em dia, mês e ano
            const [day, month, year] = datePart.split('/');

            // Criar uma nova string de data no formato ISO (YYYY-MM-DDTHH:mm:ss)
            const formattedDate = `${year}-${month}-${day}T${timePart}`;

            // Criar o objeto Date
            const date = new Date(formattedDate);

            if (isNaN(date)) {
                return 'Data inválida';
            }

            // Formatar a data para incluir hora, minuto e segundo
            const formattedDateString = date.toLocaleString('pt-BR', {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
            });

            return formattedDateString;
        }





    </script>
</body>

</html>