<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Online</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/produtosEstilo.css}">
    <script src="../js/script.js" defer></script>
    <style>
        .logout-button {
            background-color: #f44336;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .logout-button:hover {
            background-color: #d32f2f;
        }
    </style>
</head>

<body>
    <header>
        <div class="logo">
            <img th:src="@{/img/imagem.png}" alt="Logo da Loja" style="height: 50px;">
        </div>
        <nav>
            <div class="imagem">
                <div id="user-button" class="user-button" style="display: none;">
                    <a th:href="@{/produtos/detalhesUser}">
                        <img th:src="@{/img/user.png}" style="height: 50px;" alt=""></a>
                </div>
                <div style="margin-right: 10px;"></div>
                <a th:href="@{/produtos/carrinho}">Carrinho</a>
                <img th:src="@{/img/carrinho.png}" style="height: 50px;" alt="">
                <span id="cart-count">0</span>
            </div>
            <div class="user-actions">
                <a th:href="@{/user/loginUser}" class="login-button">Login</a>
                <a th:href="@{/user/cadastroUser}" class="register-button">Cadastrar</a>
                <button id="logout-button" class="logout-button" style="display: none;">Logout</button>
            </div>
        </nav>
    </header>

    <main>
        <div class="product-list" id="product-list"></div>
    </main>

    <div id="modal" class="modal" style="display: none;">
        <div class="modal-content">
            <span id="close-modal" class="close">&times;</span>
            <div class="modal-thumbnails" id="modal-thumbnails"></div>
            <img id="modal-image" src="" alt="Imagem do Produto" class="modal-main-image">
            <h2 id="modal-product-name"></h2>
            <p><strong>Descrição:</strong> <span id="modal-product-description"></span></p>
            <p><strong>Preço:</strong> <span id="modal-product-price"></span></p>
            <p><strong>Avaliação:</strong> <span id="modal-product-rating"></span></p>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const logoutButton = document.getElementById('logout-button');
            const userButton = document.getElementById('user-button');
            const loginButton = document.querySelector('.login-button');
            const registerButton = document.querySelector('.register-button');

            function isUserLoggedIn() {
                return sessionStorage.getItem('usuarioLogado') !== null;
            }

            // Exibe ou esconde os botões com base no estado do login
            function updateLoginStatus() {
                if (isUserLoggedIn()) {
                    logoutButton.style.display = 'inline-block';
                    userButton.style.display = 'inline-block';
                    loginButton.style.display = 'none';
                    registerButton.style.display = 'none';
                } else {
                    logoutButton.style.display = 'none';
                    userButton.style.display = 'none';
                    loginButton.style.display = 'inline-block';
                    registerButton.style.display = 'inline-block';
                }
            }

            updateLoginStatus();

            logoutButton.addEventListener('click', function () {
                fetch('/user/logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (response.ok) {
                            sessionStorage.removeItem('usuarioLogado'); // Remove usuário logado do sessionStorage
                            localStorage.removeItem('cart'); // Limpa o carrinho
                            window.location.href = '/produtos/listarProd'; // Redireciona para a lista de produtos
                        } else {
                            console.error('Erro ao fazer logout');
                        }
                    })
                    .catch(error => console.error('Erro ao desconectar:', error));
            });
        });



        document.addEventListener('DOMContentLoaded', function () {
            fetch('/produtos/listarProdutosJson')
                .then(response => response.json())
                .then(produtos => {
                    const productList = document.getElementById('product-list');
                    produtos.forEach(produto => {
                        const productCard = document.createElement('div');
                        productCard.classList.add('product-card');
                        const imageSrc = produto.imagens.length > 0 ? `../img/${produto.imagens[0].link}` : '../img/default-image.png';
                        productCard.innerHTML = `
                            <img src="${imageSrc}" alt="${produto.nomeProduto}" class="product-image">
                            <h3>${produto.nomeProduto}</h3>
                            <p>Preço: R$ ${produto.preco.toFixed(2)}</p>
                            <a href="#" class="detail-button" data-product-id="${produto.id}">Detalhes</a>
                            <button class="buy-button" onclick="addToCart(${produto.id}, '${produto.nomeProduto}', 'R$ ${produto.preco.toFixed(2)}', this, '${imageSrc}')">Comprar</button>
                        `;
                        console.log('Imagem do produto:', imageSrc);
                        productList.appendChild(productCard);
                    });

                    initializeDetailButtons(produtos);
                })
                .catch(error => console.error('Erro ao buscar produtos:', error));

            function generateStarRating(rating) {
                const fullStar = '★'; // Estrela cheia
                const emptyStar = '☆'; // Estrela vazia
                const roundedRating = Math.round(rating); // Arredonda a avaliação

                let stars = '';
                for (let i = 1; i <= 5; i++) {
                    stars += i <= roundedRating ? fullStar : emptyStar; // Adiciona estrela cheia ou vazia
                }
                return stars; // Retorna as estrelas geradas
            }

            function initializeDetailButtons(produtos) {
                const detailButtons = document.querySelectorAll('.detail-button');
                const modal = document.getElementById('modal');
                const closeModal = document.getElementById('close-modal');
                const modalImage = document.getElementById('modal-image');
                const modalThumbnails = document.getElementById('modal-thumbnails');
                const modalProductName = document.getElementById('modal-product-name');
                const modalProductDescription = document.getElementById('modal-product-description');
                const modalProductPrice = document.getElementById('modal-product-price');
                const modalProductRating = document.getElementById('modal-product-rating');

                detailButtons.forEach(button => {
                    button.addEventListener('click', function (event) {
                        event.preventDefault();
                        const productId = button.getAttribute('data-product-id');
                        const product = produtos.find(p => p.id == productId);

                        if (product) {
                            fetch(`/produtos/${productId}`)
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Produto não encontrado');
                                    }
                                    return response.json();
                                })
                                .then(produtoDetalhes => {
                                    // Verifica se as imagens existem
                                    const imagemPrincipal = produtoDetalhes.imagens ? produtoDetalhes.imagens.find(img => img.principal) : null;
                                    if (imagemPrincipal) {
                                        modalImage.src = `../img/${imagemPrincipal.link}`; // Atualiza com a imagem principal
                                        // Para o carrossel, vamos adicionar todas as imagens
                                        const modalThumbnailContainer = document.getElementById('modal-thumbnails');
                                        modalThumbnailContainer.innerHTML = ''; // Limpa imagens antigas
                                        produtoDetalhes.imagens.forEach(img => {
                                            const imgElement = document.createElement('img');
                                            imgElement.src = `../img/${img.link}`;
                                            imgElement.classList.add('thumbnail');
                                            imgElement.addEventListener('click', () => {
                                                modalImage.src = imgElement.src; // Troca a imagem principal ao clicar na miniatura
                                            });
                                            modalThumbnailContainer.appendChild(imgElement);
                                        });
                                    } else {
                                        modalImage.src = '../img/default-image.png';
                                        console.warn('Imagem principal não encontrada, usando imagem padrão.');
                                    }
                                    modalProductName.textContent = produtoDetalhes.nomeProduto || 'Nome não disponível';
                                    modalProductDescription.textContent = produtoDetalhes.descricao || 'Descrição não disponível';
                                    modalProductPrice.textContent = `R$ ${produtoDetalhes.preco ? produtoDetalhes.preco.toFixed(2) : 'Preço não disponível'}`;
                                    modalProductRating.innerHTML = generateStarRating(produtoDetalhes.avaliacao) || 'Sem avaliação';
                                    modal.style.display = 'block'; // Exibe o modal
                                })

                        }
                    });
                });

                closeModal.onclick = function () {
                    modal.style.display = 'none'; // Fecha o modal
                };

                window.onclick = function (event) {
                    if (event.target === modal) {
                        modal.style.display = 'none'; // Fecha o modal ao clicar fora dele
                    }
                };

            };
        });

        function addToCart(id, name, price, button, imageSrc) {
            if (!imageSrc || imageSrc === "undefined") {
                console.warn("Imagem não definida. Adicionando o item sem imagem.");
                imageSrc = ""; // Ou defina um valor padrão
            }
            console.log('Imagem a ser adicionada:', imageSrc);
            const cart = JSON.parse(localStorage.getItem('cart')) || [];
            const existingProduct = cart.find(item => item.id === id);

            if (existingProduct) {
                existingProduct.quantity += 1;
            } else {
                cart.push({
                    id: id, // Armazena o ID do produto
                    name: name,
                    price: price,
                    quantity: 1,
                    image: imageSrc
                });
            }
            localStorage.setItem('cart', JSON.stringify(cart));
            updateCartCount();
            displayCart();
        }


        // Função para atualizar a contagem de itens no carrinho
        function updateCartCount() {
            const cart = JSON.parse(localStorage.getItem('cart')) || [];
            const totalCount = cart.reduce((total, item) => total + item.quantity, 0);
            const cartCountElement = document.getElementById('cart-count');
            cartCountElement.textContent = totalCount;
        }

    </script>
</body>

</html>