<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/principal.css}">
</head>

<body>
    <header class="header">
        <div class="container">
            <h1>Cantinho do Vinho</h1>
            <form action="/logout" method="get" style="display: inline;">
                <button type="submit" class="logout-button">Sair</button>
            </form>
        </div>
    </header>
    <div class="links-container">
        <div class="links-content">
            <h1>Principal</h1>
            <ul>
                <li><a th:href="@{/lista-produto}">Listar Produto</a></li>
                <li th:if="${tipoUsuario == 1}">
                    <a th:href="@{/listaUser}">Listar Usuário</a>
                </li>
                <li th:if="${tipoUsuario == 2}"><a th:href="@{/compra/estoque}" class="gray-link">Listar Pedido</a></li>
            </ul>
        </div>
    </div>
</body>

</html>